@import "elements/option-selector";
@import "elements/multi-dropdown";
@import "elements/datetime-picker";

.page-layout {
    &__title {
        @extend .h2;
    }
}

.section {
    @extend .container-fluid;
    padding-top: 10px;
    padding-bottom: 10px;

    &__title {
        margin-top: 10px;
        padding-bottom: 5px;
        border-bottom: solid 2px $border-color;
    }

    &--hidden {
        display: none;
    }
}

.list {
    @extend .list-group;
}

.list-item {
    @extend .list-group-item;
}

.button {
    @extend .btn;
    @extend .btn-primary;

    &.button--plain {
        @extend .btn-default;
        border: none;
    }
}

.action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background: white;
    border: solid 1px $border-color;
    border-radius: $small-border-radius;
    padding: 5px 7px;
    margin: 5px 0;
    display: flex;
    width: 100%;

    &__icon {}

    &__label {
        font-size: 2rem;
        align-self: flex-start;
    }
}

.vertical-scroll-selector {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__value {
        font-size: 1.5em;
        padding: 7px 0;
        font-weight: bold;
    }
}

.dropdown {
    &--expanded {
        .dropdown__toggle {
            display: none;
        }

        .dropdown__edit {
            display: block;
        }
    }

    &__toggle {
        @extend .form-control;
        text-align: left;

        &:after {
            @extend .caret;
            content: "";
            float: right;
            margin-top: 7px;
        }
    }

    &__edit {
        display: none;
        position: relative;
    }

    &__options {
        @extend .dropdown-menu;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        right: 0;
        max-height: 300px;
        overflow: auto;
        background-color: white;
        display: block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &__option {
        cursor: pointer;
    }

    &__input {
        @extend .form-control;
    }
}
