.schema-editor {
    display: flex;
    align-items: stretch;

    .schema-editor__toolbox {
        width: 300px;
        flex: 0 0 300px;
    }

    .schema-editor__fields {
        flex: 0 1 100%;
    }
}

.schema-list-item {
    display: flex;
    justify-content: space-between;
}

.schema-field-list {
    @extend .list-group;

    &__field {
        @extend .list-group-item;
    }
}
