.schema-editor {
    display: flex;
    align-items: stretch;

    .schema-editor__toolbox {
        width: 300px;
    }

    .schema-editor__fields {
        flex: auto 1 0;
    }
}

.schema-list-item {
    display: flex;
    justify-content: space-between;
}
