.option-selector {
    position: relative;

    &__options {
        @extend .dropdown-menu;
        display: block;
        max-height: 300px;
        overflow-y: auto;
        width: 100%;
    }

    &__option--active {
        @extend .active;
    }

    & &__no-options a {
        @extend .text-muted;
    }
}
